/* ============================
   HERO 
============================ */

.hero-section {
  background: url('../../assets/hero.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  height: 655px;
}

.hero-section::after {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: #1E1E1EB2;
  z-index: 1;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  z-index: 3; 
}

.hero-wrapper.ltr {
  flex-direction: row;
}

.hero-wrapper.rtl {
  flex-direction: row-reverse;
}

/* ============================
   text
============================ */
.hero-content {
  flex: 1; 
  color: #fff;
  z-index: 3;
}

.hero-description {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  line-height: 1.8;
  font-size: 20px;
}

.hero-btn {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 12px;
  background-color: rgba(233, 146, 57, 1);
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #1E1E1EB2;
  color: rgba(233, 146, 57, 1);
}

/* ============================
  image
============================ */
.hero-images {
  flex: 1;
  position: relative;
  max-width: 550px;
  height: 555px;
  top: 60px;
  z-index: 3;
}

.hero-img {
  position: absolute;
  border-radius: 12px;
}

.img1 { width: 335px; height: 455px; z-index: 4; left:60px; }
.img2 { width: 303px; height: 401px; top: 12px; left:200px; z-index: 3; }
.img3 { width: 264px; height: 336px; top: 36px; left:330px; z-index: 2; }

/* ============================
   RESPONSIVE
============================ */

@media (max-width: 1202px) {
  .hero-section {
    height: auto;
    padding: 60px 0;
    background-position: center top;
  }

  .hero-wrapper {
    flex-direction: column !important;
    text-align: center;
    gap: 20px;
  }

  .hero-images {
    display: none !important;
  }

  .hero-description {
    font-size: 18px;
  }

  .hero-btn {
    width: 180px;
    height: 46px;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .hero-section {
    padding: 40px 0;
  }

  .hero-description {
    font-size: 16px;
    line-height: 1.6;
  }

  .hero-btn {
    width: 160px;
    height: 44px;
    font-size: 16px;
  }
}
