:root {
  --main-orange: #E99239;
  --main-bg: #3D464D;
}

body {
  font-family: 'Cairo', sans-serif;
}


/** =========================
   Navbar
**========================= */
.nav {
  background-color: var(--main-bg);
  height:150px;
  width:100%;
  padding-top: 20px;
}

/** =========================
   Logo
**========================= */
.logo img {
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.05);
}

/** =========================
   Dropdown / Icons
**========================= */
.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute ;
  top: 60px;
  left:170px;
  gap: 20PX;
} 

.navbar .dropdown-toggle {
  width:55px ;
  height: 42px;
  padding:10px;
  background-color: var(--main-bg);
  border: none;
}

.navbar .dropdown-toggle:hover {
  background-color: var(--main-orange) !important;
  color: white !important;
}


.icon {
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
  color: var(--main-orange);
}

.icon.person {
  font-size:32px;
}

.icon.bookmark {
  width:22px ;
  height:32px ;
}

.icon-cart {
  width:40px ;
  height:43px ;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-cart:hover {
  transform: scale(1.2);
  color: var(--main-orange);
}

.header-icons .span {
  position:absolute;
  top:-8px;
  right:-8px;
  background: #E99239 ;
  color: white;
  font-size: 10px;
  padding: 1px 5px;
  border-radius: 50%;
  font-weight: bold;
}

/** =========================
   Search
**========================= */
.search-form {
  width: 333px;
  height:44px;
  position: absolute;
  top:80px;
  left:450px;
  transition: transform 0.3s ease;
}

.search-form:hover {
  transform: scale(1.05);
}

.search-input-group-text {
  background-color: var(--main-orange) !important;
  border: none !important;
}

.search-input-group-text .search-icon {
  width:13.64px;
  height:12.57px;
  color: white;
}

.search-input {
  font-size: 14px;
  font-weight: 400;
  color: #807D7E;
}

/** =========================
   Nav Links
**========================= */
.nav-links {
  position: absolute;
  right: 10px; 
  top: 80px; 
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: 'Cairo', sans-serif;

}

.nav-links .nav-link {
  color: white !important;
  font-weight: 700;
  font-size: 22px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links .nav-link:hover {
  color: var(--main-orange) !important;
}

.nav-link:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 40px;
  background-color: var(--main-orange);
}

/*!! =========================
   Media Queries
/* !!========================= */

/** Lap  **/

@media (max-width: 1225px) and (min-width: 993px) {
  .search-form {
    display: none !important;
  }
}

/** Tab**/
@media (max-width: 992px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--main-bg);
    z-index: 10;
  }

  .main-layout {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 25px;
  }

  .header-icons,
  .nav-links {
    position: static !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.search-form {
    display: block !important;
    position: static;  
    width: 50%;
    margin: 10px auto;
    order: 1;

  }

  .nav-links {
    order: 2;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-icons {
    order: 3;
  }

  .nav-link:not(:last-child)::after {
    content: none;
  }
}

/** Mobile **/
@media (max-width: 576px) {
  .main-layout {
    flex-direction: column;
    gap: 10px;
  }

}










