:root {
    --main-orange: #e99239;
    --main-bg: #3d464d;
}

body {
    font-family: "Cairo", sans-serif;
}

/** =========================
   Dropdown / Icons
**========================= */

.navbar .dropdown-toggle {
    width: 55px;
    height: 52px;
    padding: 16px;
    background-color: var(--main-bg);
    border: none;
}

.navbar .dropdown-toggle:hover {
    background-color: var(--main-orange) !important;
    color: white !important;
}

.icon {
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
    color: var(--main-orange);
}
.hover-orange:hover {
    color: var(--main-orange) !important;
}

.nav-links .nav-link {
    position: relative;
    padding: 8px 20px !important;
}

.nav-separator {
    width: 3px;
    height: 24px;
    background-color: var(--main-orange);
}

 .span {
    position: absolute;
    left: 20px;
    top: -5px;
    background: #e99239;
    color: white;
    font-size: 10px;
    padding: 1px 5px;
    border-radius: 50%;
    font-weight: bold;
}

/** =========================
   Search
**========================= */
.search-form {
    width: 333px;
    transition: transform 0.3s ease;
}


.search-form:hover {
    transform: scale(1.05);
}

.search-input-group-text {
    background-color: var(--main-orange) !important;
    border: none !important;
}

.search-input-group-text .search-icon {
    width: 13.64px;
    height: 12.57px;
    color: white;
}
.search-input {
    font-size: 14px;
    font-weight: 400;
    color: #807d7e;
}
.form-control:focus {
    box-shadow: none !important;
    border-color: var(--main-orange) !important;
}


/*!! =========================
   Media Queries
/* !!========================= */
/* =========================
   Media Queries
========================= */

/* Lap */
 @media (max-width: 1400px) and (min-width: 993px) {
    .search-form {
        display: none !important;
    }
    .nav-links .nav-link {
      
        font-size: 18px;
    }
}


/* Tablet  */
@media (max-width: 992px) {

    .navbar-collapse {
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: var(--main-bg);
        padding: 20px 0;
        z-index: 20;
    }


  .main-layout {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 12px;
    width: 100%;
    padding: 8px;
  }

  .logo img { width: 130px; height: auto; }

  .search-form {
    order: -3;
    display: block !important;
    width: 100% !important;
    max-width: 520px;
    margin: 6px auto !important;

  }
    .nav-links .nav-link {
        padding: 10px !important;
        font-size: 22px !important;
        font-weight: bold;
        border-bottom: 2px solid var(--main-orange);  }

    .nav-separator {
     display: none; }

  .nav-links {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 20px;
    width: 100% !important;
    padding: 8px 0;
  }

  .header-icons {
    order: 5 ;
    display: flex !important;
    justify-content: center !important;
    gap: 16px;
    width: 100% !important;
    padding-bottom: 8px;
  }

}
@media (max-width: 468px) {
      .nav-links .nav-link { font-size: 16px !important; }
}
